#ElmNest {
    float: left;
}
#fgf {
    float: right;
}
#solo {
    float: right;
}
#gylf {
    float: right;
}
#ashtree {
    float: right;
}
#sycaA {
    float: right;
}
#sycaB {
    float: left;
}
#ASH {
    float: left;
}
#sycamore h4 {
    text-align: right;
}
#sycamore p {
    text-align: left;
}
#reviews {
    color: rebeccapurple;
    text-align: left;
    clear: both;
    border-radius:10%;
}
#review{
    margin-top: 20px;
    padding-top: 20px;
    background-color: rgb(212, 202, 149);
}
#reviews h3 {
    clear: both;
    color: goldenrod;
    text-decoration: underline;
    text-decoration-style: double;
    text-decoration-thickness: 2px;
}
#reviews h2 {
    color: palevioletred;
    font-family: 'Times New Roman', Times, serif, serif;
    padding: 24px;
}
#name {
    text-align: left;
    color: midnightblue;
    clear: both;
    /* font-weight: 670; */
    font-style: italic;
}
#fotherdale {
    background-color: #d2eaf7;
    color: #0b5c32;
    margin-top: 30px;
    padding-top: 30px;
    font-family: 'Times New Roman', Times, serif, serif;
    padding: 24px;
}
#fotherdale h3 {
    color: mediumseagreen;
}
#fotherdale h4 {
    color: olive;
}
#ASH {
    color: rgb(164, 90, 0);
    border-radius:10%;
    margin-top: 30px;
    padding-top: 30px;
    background-color: rgb(195, 221, 197);
    font-family: 'Times New Roman', Times, serif, serif;
    padding: 24px;
}
#ASH h3{
    color: brown;
}
#ASH h4 {
    color: darkred;
}