body {
    background-color: #b4d2e3;
    color: #0b5c32;
    padding: 14px;
}
#ElmNest {
    float: left;
}
#fgf {
    float: right;
}
#solo {
    float: right;
}
#gylf {
    float: right;
}
#ashtree {
    float: right;
}
#sycaA {
    float: right;
}
#sycaB {
    float: left;
}
#ASH {
    float: left;
}
#sycamore h4 {
    text-align: right;
}
#sycamore p {
    text-align: left;
}
#review p {
    color: rebeccapurple;
    text-align: left;
    clear: both;
}
#revs {
    clear: both;
}
#name {
    float: left;
    color: midnightblue;
}